step-function.json
{
  "Comment": "A open source module to taint/drain eks worker nodes gracefully",
  "StartAt": "Put and node to standby",
  "States": {
     "Put and node to standby": {
      "Comment": "Putting and worker node to standby",
      "Type": "Task",
       "Resource": "arn:aws:lambda:us-east-2:715684093864:function:test-kuntalb-awscli",
      "Next": "Wait 360 sec"
    },
     "Wait 360 sec": {
      "Comment": "A Wait state delays the state machine from continuing for a specified time.",
      "Type": "Wait",
      "Seconds": 3,
      "Next": "taint the node"
    },
    "taint the node": {
      "Type": "Pass",
      "Next": "Wait 1200 sec"
    },
    "Wait 1200 sec": {
      "Comment": "A Wait state delays the state machine from continuing for a specified time.",
      "Type": "Wait",
      "Seconds": 3,
      "Next": "All active pods gone?"
    },
    "All active pods gone?": {
      "Comment": "A Choice state adds branching logic to a state machine. Choice rules can implement 16 different comparison operators, and can be combined using And, Or, and Not",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.IsHelloWorldExample",
          "BooleanEquals": true,
          "Next": "Yes-Terminate the node"
        },
        {
          "Variable": "$.IsHelloWorldExample",
          "BooleanEquals": false,
          "Next": "No-Let's Wait"
        }
      ]
    },
    "Yes-Terminate the node": {
      "Type": "Pass",
      "Next": "Terminate the node"
    },
    "No-Let's Wait": {
      "Type": "Pass",
      "Next": "Wait 1200 sec"
    },
    "Terminate the node": {
      "Type": "Pass",
      "End": true
    }
  }
}